:root {
  --menu-bar-height: 60px;
}

* {
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
}

html,
body {
  height: 100%;
  position: relative;
}

body {
  overflow: hidden;
  margin: 0;
  color: white;
}
