:root {
  --menu-bar-height: 60px;

  --white: #FFFFFF;
  --light-gray: #9F9F9F;
  --gray: #535353;
  --dark-gray: #242424;
  --black: #191919;

  --purple-500: #6C0CCF;
  --purple-600: #3F0779;
  --purple-700: #2E0658;
  --purple-800: #1A0332;
  --purple-900: #0D0219;

  --red-500: #EB0C4B;
  --red-600: #981037;
  --red-700: #6F2232;
  --red-800: #47121D;
  --red-900: #25090F;

  --orange-500: #FF5013;
  --orange-600: #C83D0D;
  --orange-700: #942E0A;
  --orange-800: #521906;
  --orange-900: #210A02;
 
  --yellow-500: #FFE40D;
  --yellow-600: #A6940A;
  --yellow-700: #6C6004;
  --yellow-800: #39330A;
  --yellow-900: #1F1C05;

  --green-500: #11C17B;
  --green-600: #0C8F5B;
  --green-700: #0A6944;
  --green-800: #07482E;
  --green-900: #032115;

  --blue-500: #15B4FC;
  --blue-600: #1287BC;
  --blue-700: #0A5D83;
  --blue-800: #003F5B;
  --blue-900: #01202F;
}

@font-face {
  font-family: "Tech Ethics";
  src: url("../fonts/techethics.woff2") format("woff2"),
       url("../fonts/techethics.woff") format("woff");
}

* {
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
}

html,
body {
  height: 100%;
  position: relative;
}

body {
  overflow: hidden;
  margin: 0;
  color: white;
  background-color: black;
  font-family: "Source Code Pro", monospace;
}

h1, h2 {
  font-family: "Tech Ethics";
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0;
  padding: 0;
}
